.logo-text {
  font-size: 24px !important;
  font-weight: 700;
  color: #4f46e5;
}

.nav-link {
  color: #475569 !important;

  text-underline-offset: 6px;
}

.nav-link.active {
  color: #4f46e5 !important;
  font-weight: 500;
  text-decoration: underline;
}

.form-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.user-btn {
  border: none;
  background-color: transparent;
  color: #475569 !important;
}

.icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




